/* @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); */

@-moz-document url(chrome://browser/content/browser.xul),
               url(chrome://browser/content/browser.xhtml)
{

  #TabsToolbar {
    display: none !important;
  }

  #sidebar-header {
    display: none !important;

  }


/*** Firefox 81 PDF Viewer Dark Theme for userContent.css ***/
/*
  These rules are from
  resource://pdf.js/web/viewer.css
  Line 456, the lines within:
  @media (prefers-color-scheme: dark) { :root { } }
*/
[mozdisallowselectionprint] > body {
  --main-color: rgba(249, 249, 250, 1);
  --body-bg-color: rgba(42, 42, 46, 1);
  --errorWrapper-bg-color: rgba(199, 17, 17, 1);
  --progressBar-color: rgba(0, 96, 223, 1);
  --scrollbar-color: rgba(121, 121, 123, 1);
  --scrollbar-bg-color: rgba(35, 35, 39, 1);

  --sidebar-bg-color: rgba(50, 50, 52, 1);
  --toolbar-bg-color: rgba(56, 56, 61, 1);
  --toolbar-border-color: rgba(12, 12, 13, 1);
  --button-hover-color: rgba(102, 102, 103, 1);
  --toggled-btn-bg-color: rgba(0, 0, 0, 0.3);
  --dropdown-btn-bg-color: rgba(74, 74, 79, 1);
  --separator-color: rgba(0, 0, 0, 0.3);
  --field-color: rgba(250, 250, 250, 1);
  --field-bg-color: rgba(64, 64, 68, 1);
  --field-border-color: rgba(115, 115, 115, 1);
  --findbar-nextprevious-btn-bg-color: rgba(89, 89, 89, 1);
  --outline-color: rgba(255, 255, 255, 0.8);
  --outline-hover-color: rgba(255, 255, 255, 0.9);
  --outline-active-color: rgba(255, 255, 255, 0.08);
  --outline-active-bg-color: rgba(255, 255, 255, 1);
  --sidebaritem-bg-color: rgba(255, 255, 255, 0.15);
  --doorhanger-bg-color: rgba(74, 74, 79, 1);
  --doorhanger-border-color: rgba(39, 39, 43, 1);
  --doorhanger-hover-color: rgba(93, 94, 98, 1);
  --doorhanger-separator-color: rgba(92, 92, 97, 1);
  --overlay-button-bg-color: rgba(92, 92, 97, 1);
  --overlay-button-hover-color: rgba(115, 115, 115, 1);

  --loading-icon: url(images/loading-dark.svg);
  --treeitem-expanded-icon: url(images/treeitem-expanded-dark.svg);
  --treeitem-collapsed-icon: url(images/treeitem-collapsed-dark.svg);
  --toolbarButton-menuArrow-icon: url(images/toolbarButton-menuArrow-dark.svg);
  --toolbarButton-sidebarToggle-icon: url(images/toolbarButton-sidebarToggle-dark.svg);
  --toolbarButton-secondaryToolbarToggle-icon: url(images/toolbarButton-secondaryToolbarToggle-dark.svg);
  --toolbarButton-pageUp-icon: url(images/toolbarButton-pageUp-dark.svg);
  --toolbarButton-pageDown-icon: url(images/toolbarButton-pageDown-dark.svg);
  --toolbarButton-zoomOut-icon: url(images/toolbarButton-zoomOut-dark.svg);
  --toolbarButton-zoomIn-icon: url(images/toolbarButton-zoomIn-dark.svg);
  --toolbarButton-presentationMode-icon: url(images/toolbarButton-presentationMode-dark.svg);
  --toolbarButton-print-icon: url(images/toolbarButton-print-dark.svg);
  --toolbarButton-openFile-icon: url(images/toolbarButton-openFile-dark.svg);
  --toolbarButton-download-icon: url(images/toolbarButton-download-dark.svg);
  --toolbarButton-bookmark-icon: url(images/toolbarButton-bookmark-dark.svg);
  --toolbarButton-viewThumbnail-icon: url(images/toolbarButton-viewThumbnail-dark.svg);
  --toolbarButton-viewOutline-icon: url(images/toolbarButton-viewOutline-dark.svg);
  --toolbarButton-viewAttachments-icon: url(images/toolbarButton-viewAttachments-dark.svg);
  --toolbarButton-search-icon: url(images/toolbarButton-search-dark.svg);
  --findbarButton-previous-icon: url(images/findbarButton-previous-dark.svg);
  --findbarButton-next-icon: url(images/findbarButton-next-dark.svg);
  --secondaryToolbarButton-firstPage-icon: url(images/secondaryToolbarButton-firstPage-dark.svg);
  --secondaryToolbarButton-lastPage-icon: url(images/secondaryToolbarButton-lastPage-dark.svg);
  --secondaryToolbarButton-rotateCcw-icon: url(images/secondaryToolbarButton-rotateCcw-dark.svg);
  --secondaryToolbarButton-rotateCw-icon: url(images/secondaryToolbarButton-rotateCw-dark.svg);
  --secondaryToolbarButton-selectTool-icon: url(images/secondaryToolbarButton-selectTool-dark.svg);
  --secondaryToolbarButton-handTool-icon: url(images/secondaryToolbarButton-handTool-dark.svg);
  --secondaryToolbarButton-scrollVertical-icon: url(images/secondaryToolbarButton-scrollVertical-dark.svg);
  --secondaryToolbarButton-scrollHorizontal-icon: url(images/secondaryToolbarButton-scrollHorizontal-dark.svg);
  --secondaryToolbarButton-scrollWrapped-icon: url(images/secondaryToolbarButton-scrollWrapped-dark.svg);
  --secondaryToolbarButton-spreadNone-icon: url(images/secondaryToolbarButton-spreadNone-dark.svg);
  --secondaryToolbarButton-spreadOdd-icon: url(images/secondaryToolbarButton-spreadOdd-dark.svg);
  --secondaryToolbarButton-spreadEven-icon: url(images/secondaryToolbarButton-spreadEven-dark.svg);
  --secondaryToolbarButton-documentProperties-icon: url(images/secondaryToolbarButton-documentProperties-dark.svg);

  /*** Load local overrides ***/
  @import url(./userChrome.local.css);
}
